#rock {
  margin-right: 15px;
}
#rock:hover {
  -ms-transform: scale(1.5); /* IE 9 */
  -webkit-transform: scale(1.5); /* Safari 3-8 */
  transform: scale(1.5);
}

#paper {
  margin-right: 15px;
}
#paper:hover {
  -ms-transform: scale(1.5); /* IE 9 */
  -webkit-transform: scale(1.5); /* Safari 3-8 */
  transform: scale(1.5);
}

#scissors {
  margin-right: 15px;
}
#scissors:hover {
  -ms-transform: scale(1.5); /* IE 9 */
  -webkit-transform: scale(1.5); /* Safari 3-8 */
  transform: scale(1.5);
}

#player {
  margin-right: 10px;
}

#playerScore {
  font-size: 25px;
}
#computerScore {
  font-size: 25px;
}
